:root {
  --font-high-emphasis: rgba(37, 40, 43, 1);
  --title-font-family: "Aclonica", Helvetica;
  --title-font-weight: 400;
  --title-font-size: 48px;
  --title-letter-spacing: 0px;
  --title-line-height: 60px;
  --title-font-style: normal;
  --header-font-family: "Aclonica", Helvetica;
  --header-font-weight: 400;
  --header-font-size: 20px;
  --header-letter-spacing: 0px;
  --header-line-height: 24px;
  --header-font-style: normal;
  --buttons-font-family: "Nunito", Helvetica;
  --buttons-font-weight: 700;
  --buttons-font-size: 18px;
  --buttons-letter-spacing: 0px;
  --buttons-line-height: 22px;
  --buttons-font-style: normal;
  --project-title-font-family: "Aclonica", Helvetica;
  --project-title-font-weight: 400;
  --project-title-font-size: 40px;
  --project-title-letter-spacing: 0px;
  --project-title-line-height: 60px;
  --project-title-font-style: normal;
  --body-sm-font-family: "Nunito", Helvetica;
  --body-sm-font-weight: 400;
  --body-sm-font-size: 18px;
  --body-sm-letter-spacing: 0px;
  --body-sm-line-height: 22px;
  --body-sm-font-style: normal;
  --body-md-font-family: "Nunito", Helvetica;
  --body-md-font-weight: 500;
  --body-md-font-size: 24px;
  --body-md-letter-spacing: 0px;
  --body-md-line-height: 150%;
  --body-md-font-style: normal;
  --body-lg-font-family: "Nunito", Helvetica;
  --body-lg-font-weight: 400;
  --body-lg-font-size: 28px;
  --body-lg-letter-spacing: 0px;
  --body-lg-line-height: 32px;
  --body-lg-font-style: normal;
  --body-xs-font-family: "Nunito", Helvetica;
  --body-xs-font-weight: 500;
  --body-xs-font-size: 16px;
  --body-xs-letter-spacing: 0px;
  --body-xs-line-height: 150%;
  --body-xs-font-style: normal;
  --variable-collection-brand-primary: rgba(5, 214, 233, 1);
  --variable-collection-brand-black: rgba(0, 0, 0, 1);
  --variable-collection-brand-gray: rgba(104, 100, 100, 1);
  --variable-collection-white: rgba(255, 255, 255, 1);
}
